*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #202020;
}
main{
    padding: 0 5%;
}
.navBar{
    background-color:#323232;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nameLogo{
  color:#DEDEDE;
  font-size: 20px;
  font-weight: bolder;
}
.navLink{
    flex: 1;
    text-align: right;  
}
.navLink ul li{
    display: inline-block;
    padding: 8px 12px;
    list-style: none;
    position: relative;
}
.navLink ul li a {
    text-decoration: none;
    color: #DEDEDE;
    font-size: 17px;
}
.navLink li a:hover{
    color: cadetblue;
}
.navLink li a {
    transition: all 0.3s ease 0s;
}
.myProfile{
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.oruko {
    /* color: #DEDEDE; */
    animation: animate  5s linear infinite;
} @keyframes animate{
    0%,50%,100%{
        color: cadetblue;
        filter: opacity(40px);
    }
    5%,95%{
        color: #dedede;
        filter: opacity(0px);
    }
}
.details{
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
    color: #959595;
}
.about{
    margin-top: 160px;
    text-align: center;
    margin-right: 60px;
}
.aboutHeader {
    display: flex;
    text-align: center;
    margin-left: 520px;
}
.headerText{
    color: cadetblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 5px;
    position: relative;
}
.headerText:before{
    content: " ";
    display: block;
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: #9D9D9D;
    left: -14em;
}
.headerText:after{
    content: " ";
    display: block;
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: #9D9D9D;
    left: 5.9em;
    top: 3px;
}
.aboutme{
    margin-top: 20px;
}
.aboutMe{
    margin-left: 40px;
    margin-top: 20px;
    color: #959595;
    font-size: 15px;
    font-weight: 500;
}
.toolList{
    margin-left: 12px;
    margin-top: 15px;
    color: #DEDEDE;
    font-size: 15px;
    line-height: 12px;
}
.toolList ul li{
   display: inline-block;
   margin-left: 15px;
   list-style: disc;
   color: cadetblue;
}
.work{
    margin-top: 160px;
    margin-right: 60px;
}
.workHeader {
    display: flex;

}
.header2Text{
    color: cadetblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 350px;
    font-weight: light;
    line-height: 10px;
    text-align: center;
}
.project{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.picture{
    margin-left: 50px;
}
.pix{
    border-radius: 20px;
    width: 25em;
    height: 25em;
    filter: blur(1.5px);
}
.usertext{
    color: #DEDEDE;
}
.todotext{
    
    color: #DEDEDE;
}
.todotext2{
    color: #959595;
    margin-top: 10px;
}
.usertext2{
    color: #959595;
    margin-top: 10px;
}
.text1{
    float: right;
    margin-top: 8em;
    padding: 15px;
    margin-left: 3em;
}
.text2{
        float: left;
        margin-top: 8em;
        margin-left: 3em;
        padding: 15px;
}
.contact{
    margin-top: 90px;
}

.contactME{
    color: #DEDEDE;
    text-align: center;
}
.hire{
    margin-top: 15px;
    color: #959595;
    text-align: center;
    font-weight: 500;
}
.inbox2{
    background-color: #9D9D9D;
    color: #DEDEDE;
    width: 24%;
    margin-left: 32em;
    margin-top: 20px;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
} 
.mobileMenu{
    display: none;
}
.inbox1{
    background-color: #9D9D9D;
    color: #DEDEDE;
    width: 80%;
    margin-top: 20px;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
} .inbox1 a{
    text-decoration: none;
    color: #DEDEDE;
} 
.inbox2 a{
    text-decoration: none;
    color: #DEDEDE;
}
.mailImg{
    margin-top: 7px;
    height: 35%;
    margin-right: 8px;
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #959595;
    padding: 2% 6%;
    align-items: center;
}
.orukoMi{
    color: #DEDEDE;
}
.socials{
    margin-right: 80px;
}
.icoN{
    padding: 10px;
    width: 35px;
    cursor: pointer;
}
span{
 color: #DEDEDE;
}
.ham{
    display: none;
}
@media (max-width: 700px){
   body{
    position: relative;
   }
    .oruko{
        font-size: 20px;
    } .details{
        font-weight: 500;
    }
    .ham{
        display: block;
        margin-right: 15px;
    }
    main{
        padding: 0;
    }
    .navLink{
        display: none;
    }
    .navBar{
        background-color:#323232;
        width: 100vw;
        height: 80px;
    } .mobileMenu{
        display: none;
        background-color: #323232;
        height: 100vh;
        width: 70vw;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 2;
    }
    .closeBtn{
        color: cadetblue;
        text-align: right;
        cursor: pointer;
        font-size: 30px;
        margin-top: 30px;
        margin-right: 20px;
        font-size: large;
        font-weight: 700;
       
    }
    .navLinks ul li {
        display: block;
        list-style: none;
        padding: 25px;
        margin-left: 2.5em;
    } 
    .navLinks ul li a{
        text-decoration: none;
        color: #DEDEDE;
        text-align: center;
        font-size: 17px;
    }
     .navLinks ul {
        padding: 30px;
        margin-top: 30px;
       margin-right: 70px;
    } 
    .navLinks ul li a:hover{
        color: cadetblue;
    }
    
    .navLinks ul li a {
        transition: all 0.3s ease 0s;
    }
    .about{ 
        margin-top: 100px;
}.aboutHeader {
    display: flex;
    text-align: center;
    margin-left: 120px;
}
.headerText:before{
    content: " ";
    display: block;
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: #9D9D9D;
    left: -14em;
    display: none;
}
.headerText:after{
    content: " ";
    display: block;
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: #9D9D9D;
    left: 5.9em;
    top: 3px;
    display: none;
} .toolList ul li{
    display: inline-flex;
 }.work{
    margin-top: 100px;
    margin-right: 0;
} .header2Text{
    color: cadetblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: light;
    line-height: 20px;
    text-align: center;
    padding: 10px;
} .project{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    border-bottom: 1px solid #9D9D9D;
}
.picture{
    margin-left: 30px;
}
.pix{
    border-radius: 20px;
    width: 19em;
    height: 19em;
    filter: blur(1.5px);
} .text1{
    margin-top: 2em;
    margin-left: 30px;
    padding: 10px;
}
.text2{
        margin-top: 2em;
        margin-bottom: 4em;
        margin-left: 30px;
        padding: 10px;
} .inbox2{
    background-color: #9D9D9D;
    color: #DEDEDE;
    width: 50%;
    margin-left: 6.5em;
    margin-top: 20px;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #959595;
    padding: 2% 3%;
    align-items: center;
}
.orukoMi{
    color: #9D9D9D;
}
.socials{
    margin-right: 15px;
}
.icoN{
    padding: 10px;
    cursor: pointer;
    width: 35px;
}

}
